<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/poker.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class= "bg-[#d1ccc7]">
        <header class="bg-gray-900 flex justify-center items-center p-4">
            <a href="{{ path('home') }}" class="text-white text-4xl font-extrabold">
                <span class="text-red-400">M</span>VC
            </a>
            <nav aria-label="Global navigation" class="w-full flex justify-center items-center">
                <ul class="flex items-center gap-6 text-base py-6">
                    <li><a class="{% if app.request.attributes.get('_route') == 'home' %} text-[#ff8b6b] {% else %} text-white {% endif %} transition hover:text-white/75" href="{{ path('home') }}">Home</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'report' %} text-[#ff8b6b] {% else %} text-white {% endif %} transition hover:text-white/75" href="{{ path('report') }}">Report</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'about' %} text-[#ff8b6b] {% else %} text-white {% endif %} transition hover:text-white/75" href="{{ path('about') }}">About</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'lucky' %} text-[#ff8b6b] {% else %} text-white {% endif %} transition hover:text-white/75" href="{{ path('lucky') }}">Lucky Casino</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'api_index' %}text-[#ff8b6b] {% else %} text-white {% endif %} transition hover:text-white/75" href="{{ path('api_index') }}">API</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'pig_init_get' %} text-[#ff8b6b] {% else %} text-white {% endif %} transition hover:text-white/75" href="{{ path('pig_init_get') }}">Pig Game</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'card' %} text-[#ff8b6b] {% else %} text-white {% endif %} transition hover:text-white/75" href="{{ path('card') }}">Kortleken</a></li>
                    <li><a class="{% if app.request.attributes.get('_route') == 'session' %} text-[#ff8b6b] {% else %} text-white {% endif %} transition hover:text-white/75" href="{{ path('session') }}">Session</a></li>
                </ul>
            </nav>
        </header>
        {{ include('flash.html.twig') }}
        {% block body %}{% endblock %}
        <footer class="footer flex justify-between p-8">
            <div class="text-white">
                <p>&copy; 2025 Jakob Holmström</p>
            </div>
            <div>
                <a href="{{ path('session_delete') }}" class="text-5xl">&#128465;</a>
            </div>
        </footer>
    </body>
</html>
