<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header">
            <nav>
                <ul>
                    <li><a href="{{ path('home') }}" {% if app.request.attributes.get('_route') == 'home' %}class="active"{% endif %}>Home</a></li>
                    <li><a href="{{ path('report') }}" {% if app.request.attributes.get('_route') == 'report' %}class="active"{% endif %}>Report</a></li>
                    <li><a href="{{ path('about') }}" {% if app.request.attributes.get('_route') == 'about' %}class="active"{% endif %}>About</a></li>
                    <li><a href="{{ path('lucky') }}" {% if app.request.attributes.get('_route') == 'lucky' %}class="active"{% endif %}>Lucky Casino</a></li>
                    <li><a href="{{ path('api_index') }}" {% if app.request.attributes.get('_route') == 'api_index' %}class="active"{% endif %}>API</a></li>
                    <li><a href="{{ path('pig_init_get') }}" {% if app.request.attributes.get('_route') == 'pig_init_get' %}class="active"{% endif %}>Pig Game</a></li>
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer class="footer">
            <p>&copy; 2025 Jakob Holmström</p>
        </footer>
    </body>
</html>
