{% extends "base.html.twig" %}

{% block title %}Lucky Casino{% endblock %}

{% block body %}

<div class="slot-machine-container">
    <h1>Lucky Slot Machine Casino</h1>
    <div class="slots">
        <div class="slot">
            <img src="{{ asset('img/slots/' ~ slot1 ~ '.png') }}" alt="{{ slot1 }}">
        </div>
        <div class="slot">
            <img src="{{ asset('img/slots/' ~ slot2 ~ '.png') }}" alt="{{ slot2 }}">
        </div>
        <div class="slot">
            <img src="{{ asset('img/slots/' ~ slot3 ~ '.png') }}" alt="{{ slot3 }}">
        </div>
    </div>
    <div class="result">
        {% if win.won %}
            <div class="win-message">
                {{ win.message }}
                <p>Du vann {{ win.amount }} poäng!</p>
            </div>
        {% else %}
            <div class="lose-message">{{ win.message }}</div>
        {% endif %}
    </div>

    <a href="{{ path('lucky') }}" class="spin-button">SNURRA IGEN!</a>

</div>
    
{% endblock %}