{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <div class="api-container">
        <h1>API-Dokumentation</h1>
        <div class="api-lista">
            <p>Sammanställning av alla JSON routes</p>
            <ul>
                {% for route in routes %}
                    <li>
                        <div class="api-route">
                            {{ route.path }}
                        </div>
                        <div class="api-description">
                            <b>{{ route.method }}</b> {{ route.description }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2 class="mb-3 text-center mt-2">Testa shuffle och draw!</h2>
            <form method="POST" action="{{ path('api_shuffle_deck') }}">
                <input type="submit" value="Shuffle" class="cursor-pointer bg-[#3a3f44] py-2 px-4 rounded text-white mb-2">
            </form>
            <form method="POST" action="{{ path('api_draw_deck') }}">
                <input type="submit" value="Dra 1 kort" class="cursor-pointer bg-[#3a3f44] py-2 px-4 rounded text-white mb-2">
            </form>
            <form method="POST" action="{{ path('api_draw_multi', {'number': 5}) }}">
                <input type="submit" value="Dra 5 kort" class="cursor-pointer bg-[#3a3f44] py-2 px-4 rounded text-white">
            </form>


        </div>
    </div>
    

{% endblock %}